.top-page {
    .inner {
        width: 100%;
        max-width: 1080px;
        margin: auto;
    }
    .flex {
        display: flex;
        display: -webkit-flex;
    }
    .mainVisual {
        display: block;
        position: relative;
        margin-top: -50px;
        width: 100%;
        height: auto;
        background-image: url(../images/mainVisual.jpg);
        background-position: top center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;

        .heading-message {
            position: relative;
            color: #fff;
            top: 200px;

            .subtext {
                font-size: 30px;
                letter-spacing: 3.9px;
            }
            .maintext {
                margin-top: 50px;
                font-size: 60px;
                line-height: 1.33;
                letter-spacing: 4.2px;
            }
            .bottomtext {
                margin-top: 50px;
                font-size: 17px;
                letter-spacing: 3.8px;
            }
        }


        .login-box {
            position: relative;
            top: 100px;
            margin-left: auto;
            width: 380px;
            height: 550px;
            background: #fff;
            margin-bottom: 200px;
        }
    }
    .top-bar {
        position: relative;
        top: 60px;
        background-image: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


    .footer {
        position: relative;
    }
}