html, body, .trigger {
    margin: 0;
    width: 100%; height: 100%;
    position: relative;
}

.trigger > p {
    margin: 0;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font: bold 40px sans-serif;
    line-height: 1;
    opacity: .1;
    width: 600px;
}

.modal {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, .15);
    transform: translate3d(0, 0, 0);
}

.modal-enter-active {transition: opacity .2s;}
.modal-enter        {opacity: 0;}
.modal-enter-to     {opacity: 1;}
.modal-leave-active {transition: opacity .6s;}
.modal-leave        {opacity: 1;}
.modal-leave-to     {opacity: 0;}

.modal__close {
    position: absolute; top: 20px; right: 20px;
    color: #808080;
    cursor: pointer;
    font-size: 36px;
    line-height: 1;
}
.modal__content {
    position: absolute;top: 40%; left: 50%;
    transform: translate(-50%, -50%);

    .image {
        position: absolute; top: 28px; left: 28px;
        width: 60px;
        height: 60px;
        //margin: 28px 28px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    .modal__textarea{
        width: 100%;
        height: 200px;
        padding: 50px 80px 60px 113px;
        resize: none;
    }
}
.modal__content > * {
    display: block;
    position: relative;
}

//custom

.modal__box {
    width: 550px;
    height: auto;
    //min-height: 272px;
    background: #fff;
    -webkit-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0 2px 6px 0px rgba(0,0,0,0.3);

    // s_topic
    &.modal__topic, &.modal__profile {
        width: 700px;
        .title {
            padding: 25px 20px;
            font-size: 20px;
            letter-spacing: 1.4px;
            color: #333;
            border-bottom: 1px solid #e0e0e0;
        }
        .form-label {
            display: flex;
            width: 660px;
            margin: auto;
            padding: 20px 0;
            border-bottom: 1px solid #e0e0e0;

            &:last-of-type {
                border-bottom: none;
            }

            .item-name {
                display: inline-block;
                width: 150px;
            }
            .required {
                &::after {
                    content: '*';
                    color: #ff2828;
                    font-size: 22px;
                }
            }
            .form-input {
                width: 100%;
            }
            textarea {
                resize: none;
            }
            .photo {
                display: block;
            }
            .comment {
                margin-top: 10px;
                font-size: 13px;
                color: #808080;
            }
        }
    }

    &.modal__profile {
        .profile__body {
            display: flex;
            .form-group {
                width: 100%;
            }
            .form-label {
                width: 480px;
                .item-name {
                    color: #808080;
                    font-size: 12px;
                }
            }

            .form-split {
                display: flex;
                border-bottom: 1px solid #e0e0e0;
                width: 480px;
                margin-left: auto;
                margin-right: 28px;
                .form-label {
                    width: 100%;
                    border-bottom: none;

                    .item-name {
                        width: 110px;
                    }
                    .form-input {
                        width: 110px;
                    }
                }
            }

            .edit-image {
                position: relative;
                width: 146px;
                height: 146px;
                margin-top: 20px;
                margin-left: 20px;
                cursor: pointer;
                .edit-image-message {
                    position: absolute;
                    top: 65px;
                    left: 20px;
                    color: #fff;
                    font-size: 15px;
                    //font-weight: 600;
                    z-index: 55;
                }
                .image-mask {
                    position: absolute;
                    width: 146px;
                    height: 146px;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;
                    z-index: 50;
                    background-color: rgba(0,0,0,.5);
                }
                .image {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 146px;
                    height: 146px;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;
                    background-color: rgba(0 , 0, 0, 0.5);
                }
            }
        }
        .action__post {
            .button {
                width: 140px !important;
            }
        }
    }

    // e_topic

    // s_login & register
    &.modal__login, &.modal__register {
        width: 400px;
        .title {
            padding: 25px 20px;
            font-size: 20px;
            letter-spacing: 1.4px;
            color: #333;
            border-bottom: 1px solid #e0e0e0;
        }
        .form-group {
            width: 320px;
            margin: auto;
            padding: 38px 0;
        }
        .form-label {
            margin: auto;
            margin-bottom: 25px;


            .item-name {
                display: block;
                font-size: 14px;
                color: #333;
            }
            .required {
                &::after {
                    content: '*';
                    color: #ff2828;
                    font-size: 22px;
                }
            }
            .form-input {
                width: 100%;
                height: 38px;
                margin-top: 8px;
                margin-bottom: 25px;
                padding: 0 8px;
                border: 1px solid #ccc;
            }
        }
        .button {
            display: block;
            margin: auto;
            cursor: pointer;
            width: 150px;
            height: 38px;
            color: #fff;
            font-size: 15px;
            background: #286bb3;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        .register-message {
            display: block;
            margin-top: 25px;
            text-align: center;
            font-size: 12px;
            color: #333;
            
            a {
                color: #4a90e2;
            }
        }
    }


    // e_login & register

    .modal__foot {
        position: relative;
        width: 100%;
        background: #fafafa;
        height: 62px;
        border-top: 1px solid #e0e0e0;

        .photo {
            width: 28px;
            height: 28px;
            position: absolute;
            top: 18px;
            left: 28px;
        }

        .action__post {
            position: absolute;
            top: 12px;
            right: 28px;

            .post__status {
                width: 151px;
                height: 38px;
                margin-right: 10px;
                -webkit-appearance: button;
                -moz-appearance: button;
                appearance: button;
                border: 1px solid #ccc;
                border-radius: 4px;
                text-indent: 1em;
                font-size: 14px;
                color: #333;

                &::after {
                    content: 'a';
                    display: block;
                    position: absolute;
                    background: #333;
                    width: 10px;
                    height: 10px;
                }
            }

            .button {
                width: 110px;
                height: 38px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font-size: 14px;
                font-weight: normal;
                cursor: pointer;
                &.submit {
                    background-color: #286bb3;
                    color: #fff;
                }
                &.cancel {
                    background-color: #fff;
                    color: #808080;
                    border: 1px solid #808080;
                    margin-right: 10px;
                }
            }

        }
    }
}

/***************/
/*  Responsive */
/*  for Mobile */
/*  min < 979  */
/***************/
@media screen and (max-width: 979px) {
    .modal {
       .modal__content {
           //top: 333px;
           //left: 187px;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           -webkit-transform: none;
           -moz-transform: none;
           -ms-transform: none;
           -o-transform: none;
           transform: none;

           .modal__close {
               z-index: 99;
               top: 12px;
               left: 20px;
               width: 26px;
           }

           .modal__textarea {
               height: 81% !important;
               max-height: 81%;
               position: absolute;
               top: 65px;
               left: 0;
               padding: 50px 0 60px 113px;
           }

           .modal__box {
               width: 100%;
               height: 100%;
               
               .title {
                   position: relative;
                   font-size: 18px;
                   color: #333;
                   padding: 20px 0 20px 55px;
                   border-bottom: 1px solid #ccc;
                   z-index: 20;
               }
               .image {
                   position: relative;
                   z-index: 20;
               }

               .modal__foot {
                   position: absolute;
                   bottom: 0;

                   .action__post {
                       right: 10px;
                   }
               }


               &.modal__topic {
                   .form-group {
                       overflow-y: scroll;
                       height: 80%;
                       textarea {
                           height: 30%;
                       }
                   }
                   .form-label {
                       display: block;
                       width: 95%;
                       margin: auto;
                       padding: 10px 0;
                       .form-input {
                           margin-top: 10px;
                       }
                   }
               }


               &.modal__profile {

                   .profile__body {
                       position: relative;
                       display: block;
                       height: 100%;
                       overflow-y: scroll;
                       padding-bottom: 150px;

                       .edit-image {
                           position: absolute;
                           top: 0;
                           right: 20px;
                           width: 54px;
                           height: 54px;

                           .image, .image-mask {
                               width: 100%;
                               height: 100%;
                           }
                           .photo {
                               position: absolute;
                               top: 14px;
                               left: 14px;
                               z-index: 20;
                           }
                       }

                       .form-group {
                           margin: auto;
                           width: 95%;
                       }
                       .form-label {
                           width: 100%;
                           display: block;

                           .form-input {

                           }

                           .form-input {
                               margin-top: 5px;
                           }
                       }

                       .form-split {
                           width: 100%;
                           .item-name {
                               width: 100%;
                           }
                       }
                   }

               }
           }
       }
    }
}